<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load app_filters %}
<!-- для пагинации, см. custom_tags.py -->
{% load custom_tags %}

<!-- Название у нас будет -->
{% block title %}
Новости/Статьи
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h3> {{ time_now|date:'d F Y' }}</h3>
    <h4> {{ next_sale|default_if_none:"Свежие новости за последний час!" }} </h4>
    <p align="right"> Новость:
        <a href=" {{news_create}} " > создать </a>
    </p>
    <h1 align="left"> Наши новости </h1>
    <p align="left"> Публикаций на странице: {{news|length}} шт. </p>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td style="font-size:22px" width="300" height="80">
                    <strong> Заголовок </strong>
                </td>
                <td style="font-size:22px" width="250">
                    <strong> Дата публикации </strong>
                </td>
                <td style="font-size:22px">
                    <strong> Содержание </strong>
                </td>
            </tr>
            {% for post in news %}
                <tr>
                    <td align="left" valign="top" height="80"> {{post.title|censor}} </td>
                    <td align="center" valign="top"> {{post.date_create|date:'d.m.Y H:i'}} </td>  <!-- привести к нужному часовому поясу -->
                    <td align="left" valign="top"> {{post.article|truncatewords:20|censor}}<br>
                        <p><a href="{{post.id}}" > Читать полностью ... </a></p> <!-- Если добавить target="_blank", то будет открываться в новом окне -->
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        На сегодня новостей нет ... нас забанили за плагиат :))
    {% endif %}

    <!-- Добавляем пагинацию на страницу -->
    <!-- Информация о предыдущих страницах -->
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    <!-- Информация о текущей странице -->
    {{ page_obj.number }}

    <!-- Информация о следующих страницах -->
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    <p>Публикации {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>

{% endblock content %}
