<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load app_filters %}

<!-- Название у нас будет -->
{% block title %}
Новости/Статьи
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h3> {{ time_now|date:'d F Y' }}</h3>
    <h3> {{ next_sale|default_if_none:"Свежие новости за последний час!" }} </h3>
    <h1 align="left"> Наши новости </h1>
    <h3 align="left"> сегодня в количестве {{news|length}} шт. </h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td style="font-size:22px" width="300" height="80">
                    <strong> Заголовок </strong>
                </td>
                <td style="font-size:22px" width="250">
                    <strong> Дата публикации </strong>
                </td>
                <td style="font-size:22px">
                    <strong> Содержание </strong>
                </td>
            </tr>
            {% for post in news %}
                <tr>
                    <td align="left" valign="top" height="80"> {{post.title|censor}} </td>
                    <td align="center" valign="top"> {{post.date_create|date:'d.m.Y H:i:s'}} </td>  <!-- привести к нужному часовому поясу -->
                    <td align="left" valign="top"> {{post.article|truncatewords:20|censor}} </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        На сегодня новостей нет ... нас забанили за плагиат :))
    {% endif %}
{% endblock content %}
