{% load static %}
<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'news/css/styles.css' %}" type="text/css">
    <title>Новости: {% block title %}{% endblock title %}</title>
</head>

<body>
<header>
    <div class="container">
        <h1> Новостной портал </h1>
        <div class="block_header" id="left">
            <ul class="navbar-ul">
                <li class="navbar-li"><a href="/"> Главная </a></li>
                <li class="navbar-li"><a href="/news/"> Наши новости </a></li>
                <li class="navbar-li"><a href="/news/search/"> Поиск </a></li>
            </ul>
        </div>
        <div class="block_header" id="right">
            <ul class="navbar-ul">
                <li class="navbar-li"><a href="#"> Регистрация </a></li>
                <li class="navbar-li"><a href="#"> Вход </a></li>
            </ul>
        </div>
    </div>
</header>

<main>
    <div class="container-div-1">
        {% block index %}
        {% endblock index %}

        {% block preview %}
        {% endblock preview %}

        {% block table %}
        {% endblock table %}

        {% block content %}
        {% endblock content %}

        {% block paginator %}
        {% endblock paginator %}
    </div>
</main>

<footer>
    <div class="container-div-2">
        <p>SkillFactory обучение</p>
    </div>
</footer>
</body>
</html>