{% extends 'news/flatpages/default.html' %}

<!-- Название у нас будет -->
{% block title %}
Главная
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block index %}
<!-- <h1> Новостной портал </h1> -->

    {% include 'accounts/users_auth.html' %}

<!-- <p><a href="/news/"> Читать полностью ... </a></p> -->

{% endblock index %}
{% block content %}
<style>
    .red {
        color: red;
    }
    .stalin {
        text-indent: 30px;
        text-align: justify;
    }
</style>
<div class="post">
    <p class="stalin">
        «Необходимо добиться такого культурного роста общества, который бы обеспечил всем членам общества всестороннее развитие их физических и умственных способностей, чтобы члены общества имели возможность получить образование, достаточное для того, чтобы стать активными деятелями общественного развития, чтобы они имели возможность свободно выбирать профессию, а не быть прикованными на всю жизнь, в силу существующего разделения труда, к одной какой-либо профессии.
        Что требуется для этого? Было бы неправильно думать, что можно добиться такого серьезного культурного роста членов общества без серьезных изменений в нынешнем положении труда. <span class="red"> Для этого нужно прежде всего сократить рабочий день по крайней мере до 6, а потом и до 5 часов.</span>
    </p>
    <p class="stalin">
        Это необходимо для того, чтобы члены общества получили достаточно свободного времени, необходимого для получения всестороннего образования. Для этого нужно, далее, ввести общеобязательное политехническое обучение, необходимое для того, чтобы члены общества имели возможность свободно выбирать профессию и не быть прикованными на всю жизнь к одной какой-либо профессии. Для этого нужно, дальше, коренным образом <span class="red">улучшить жилищные условия и поднять реальную зарплату</span> рабочих и служащих минимум вдвое, если не больше, как путем прямого повышения денежной зарплаты, так и, особенно, путем дальнейшего <span class="red">систематического снижения цен</span> на предметы массового потребления.»
    </p>
    <p class="stalin">
        Сталин И.В. 1952г
    </p>
</div>
{% endblock content %}
