{% extends 'news/flatpages/default.html' %}

{% load app_filters %}
{% load custom_tags %}

{% block title %}
Поиск
{% endblock title %}

{% block content %}
<h2> Поиск новостей </h2>
<form action="" method="get" >
    <!-- Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями -->
    {{ filterset.form.as_p }}
    <!-- Добавим кнопку отправки данных формы -->
    <!--<input type="date" id="start" name="trip-start" value="2023-06-23" min="2022-01-01" max="2025-12-31" />-->
    <!-- <input
        type="datetime-local"
        id="meeting-time"
        name="meeting-time"
        value="2023-06-12T19:30"
        min="2022-06-07T00:00"
        max="2025-06-14T00:00"
    /> -->
    <input type="submit" value="Найти" />
</form>

<hr>
<!--
<ul>
    {% for object in object_list %}
        <li>{{ object }}</li>
    {% endfor %}
</ul>
-->

{% if search %}
<table>
    <tr>
        <td style="font-size:22px" width="300" height="80"> <strong> Заголовок </strong> </td>
        <td style="font-size:22px" width="250"> <strong> Дата публикации </strong> </td>
        <td style="font-size:22px"> <strong> Содержание </strong> </td>
    </tr>
    {% for post in search %}
    <tr>
        <td align="left" valign="top" height="80"> {{post.title|censor}} </td>
        <td align="center" valign="top"> {{post.date_create|date:'d.m.Y H:i'}} </td>  <!-- привести к нужному часовому поясу -->
        <td align="left" valign="top"> {{post.article|truncatewords:20|censor}}<br>
            <p><a href="../{{post.id}}" > Читать полностью ... </a></p> <!-- Если добавить target="_blank", то будет открываться в новом окне -->
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    Что-то пошло не так ... тут ничего нет!
{% endif %}

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    <p>Публикации {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>

{% endblock content %}
