{% extends 'news/flatpages/default.html' %}

{% load app_filters %}
{% load custom_tags %}

{% block title %}
Поиск
{% endblock title %}

<!-- <style>
    .news_bar {
       background: #ebe4e4;
    }
    .form_label {
        font-family: Tahoma;
        font-weight: bold;
        font-size: 18px;
    }
</style> -->
{% block preview %}
<div class="post">
<h2> Поиск новостей </h2>
<form action="" method="get" >
    <!-- Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями -->
    <!-- {{ filterset.form.as_p }} -->

    {% for f in filterset.form %}
        <p><label class="form_label" for="{{f.id_for_label}}">{{f.label}}</label> {{f}} </p>
        <div>{{f.errors}}</div>
    {% endfor %}

    <!-- Добавим кнопку отправки данных формы -->
    <!--<input type="date" id="start" name="trip-start" value="2023-06-23" min="2022-01-01" max="2025-12-31" />-->
    <!-- <input
        type="datetime-local"
        id="meeting-time"
        name="meeting-time"
        value="2023-06-12T19:30"
        min="2022-06-07T00:00"
        max="2025-06-14T00:00"
    /> -->
    <input type="submit" value="Найти" />
</form>

<hr>
</div>
{% endblock preview %}
<!--
<ul>
    {% for object in object_list %}
        <li>{{ object }}</li>
    {% endfor %}
</ul>
-->

{% block table %}
<div class="post">
<table>
    <tr>
        <td style="font-size:22px" width="250" height="80"> <strong> Заголовок </strong> </td>
        <td style="font-size:22px" width="250"> <strong> Дата публикации </strong> </td>
        <td style="font-size:22px"> <strong> Содержание </strong> </td>
    </tr>
</table>
</div>
{% endblock table %}

{% block content %}
{% if search %}
    {% for post in search %}
    <div class="post">
    <table>
    <tr>
        <td align="left" valign="top" width="250" height="80"> {{post.title|censor}} </td>
        <td align="center" valign="top" width="250"> {{post.date_create|date:'d.m.Y H:i'}} </td>  <!-- привести к нужному часовому поясу -->
        <td align="left" valign="top">
            <div>
                <p class="news_bar">
                    Тип публикации: {{post.get_type_article_display}}, &nbsp; &nbsp;
                    Категория:
                    {% for i in post.category.all %}
                    {{ i.get_title_display }},
                    {% endfor %} <br>
                    Автор: {{post.user}}
                </p>
            </div>
            <div>
                {{post.article|truncatewords:20|censor}}<br>
                <p><a href="../{{post.id}}" > читать полностью ... </a></p> <!-- если добавить target="_blank", то будет открываться в новом окне -->
            </div>
        </td>
    </tr>
    </table>
    </div>
    {% endfor %}
{% else %}
    <div class="post">
        Что-то пошло не так ... тут ничего нет!
    </div>
{% endif %}
{% endblock content %}

{% block paginator %}
<div class="post">
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    <p>Публикации {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
</div>
{% endblock paginator %}

